body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f4f6f8;
}

/* HEADER */
header{
    background-color: #0a2540;
    color: white;
    padding: 30px;
    text-align: center;
}

.profile-img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
    margin-bottom: 15px;
}

/* NAVIGATION */
nav{
    background-color: #132f4c;
    text-align: center;
    padding: 10px;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover{
    text-decoration: underline;
}

/* SECTIONS */
section{
    padding: 40px;
    max-width: 900px;
    margin: auto;
}

h2{
    color: #0a2540;
}

/* SKILLS */
.skills{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.skills div{
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    flex: 1;
    min-width: 200px;
    text-align: center;
}

.skills img{
    width: 60px;
    margin-bottom: 10px;
}

/* PROJETS */
.project{
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.project img{
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    margin-bottom: 15px;
}

/* FOOTER */
footer{
    background-color: #0a2540;
    color: white;
    text-align: center;
    padding: 15px;
}
